/* line 5, ../../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/index.scss */
body {
  background: #232428;
}

/* line 7, ../sass/index.scss */
.jy_play {
  width: 100vw;
  height: 71.11111vw;
  position: relative;
  overflow: hidden;
}
/* line 12, ../sass/index.scss */
.jy_play .dots {
  position: absolute;
  width: 100vw;
  height: 1.95556vw;
  bottom: 2.66667vw;
}
/* line 18, ../sass/index.scss */
.jy_play .dots_ct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 25, ../sass/index.scss */
.jy_play .dots_ct span {
  width: 1.95556vw;
  height: 1.95556vw;
  background-color: #d77d34;
  margin-right: 1.33333vw;
  border-radius: 50%;
}
/* line 31, ../sass/index.scss */
.jy_play .dots_ct span:last-child {
  margin-right: 0;
}
/* line 34, ../sass/index.scss */
.jy_play .dots_ct span.active {
  background: #232428;
}

/* line 40, ../sass/index.scss */
.jy_play_ct {
  overflow: hidden;
  position: absolute;
}
/* line 43, ../sass/index.scss */
.jy_play_ct .page {
  float: left;
  width: 93.24444vw;
  height: 71.11111vw;
  margin: 0 2.66667vw;
  border-radius: 0.44444vw;
  padding: 1.77778vw 0 4.44444vw 1.42222vw;
}
/* line 51, ../sass/index.scss */
.jy_play_ct .page1 {
  background: #acc;
}
/* line 54, ../sass/index.scss */
.jy_play_ct .page2 {
  background: #cac;
}
/* line 57, ../sass/index.scss */
.jy_play_ct .page3 {
  background: #cfc;
}
/* line 60, ../sass/index.scss */
.jy_play_ct .page4 {
  background: #cda;
}
